{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Sueña y Crea</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Le damos la bienvenida a Sueña y Crea</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    Bienvenidos a Sueña y Crea, tu destino de confianza para muebles de calidad y estilo en huánuco - Perú. En Sueña y Crea nos dedicamos a proporcionar a nuestros clientes una experiencia de compra excepcional, ofreciendo una amplia gama de productos de mobiliario que combinan artesanía tradicional con elegancia moderna.
<br/><br/>
Nuestro compromiso con la calidad se refleja en cada pieza que ofrecemos. Desde nuestras hermosos muebles de oficina hasta nuestros cómodos sofás y camas, cada artículo en nuestro catálogo está cuidadosamente seleccionado para garantizar la máxima durabilidad y comodidad para nuestros clientes.
<br/><br/>
En Sueña y Crea, nos enorgullece ofrecer una variedad de estilos que se adaptan a todos los gustos y presupuestos. Ya sea que estés buscando un toque clásico y elegante o una vibrante declaración de diseño contemporáneo, estamos seguros de que encontrarás exactamente lo que necesitas en nuestra tienda.
<br/><br/>
Además de nuestra amplia gama de productos, nos esforzamos por brindar un excelente servicio al cliente. Nuestro equipo de expertos está aquí para ayudarte en cada paso del camino, desde la selección de muebles hasta la entrega y el montaje. Estamos comprometidos a hacer que tu experiencia de compra sea lo más fácil y agradable posible.
Gracias por elegir Sueña y Crea. Estamos emocionados de ser parte de tu viaje para crear un hogar hermoso y acogedor. ¡Esperamos verte pronto en nuestra tienda!
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}